#loading-contain {
	display:flex;
	align-items:center;
	overflow:auto;
	height:35vh;
}
.loader {
	width:150px;
	display:block;
	margin:0 auto;
	padding-bottom:20px;
}

/* Tablet */
@media only screen and (min-width: 480px) {
#loading-contain {
  height:85vh;
  width:75%;
}
}